source 'https://rubygems.org'

gem 'active_model_serializers'
gem 'pg'
gem 'puma'
gem 'rails'

group :development do
  gem 'listen'
  gem 'pry'
  gem 'rubocop'
  gem 'spring'
end

group :test do
  gem 'byebug'
  gem 'rspec-rails'
end
